<ion-header>
  <ion-toolbar>
    <ion-icon name="menu-outline"></ion-icon>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="homeProfile">
    <div class="topProfile">
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <div id="profileImg">
              <ion-avatar><ion-img src="assets/potraits/pro1.png"></ion-img></ion-avatar>
            </div>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col>
                <div class="usernameCSS">
                  <ion-text><b>Andrew95</b></ion-text>
                  <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text class="faded">Andrew Marevin</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text class="faded">andrew.m@gmail.com</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div id="editProfile">
                  <ion-button><b>Edit profile</b></ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="secProfile">
      <ion-text>I'd always thought lightning was something only I could see.</ion-text>
    </div>
  </div>
</ion-content>
